In [2]:
import pandas as pd
import matplotlib as plt

df = pd.read_csv('happy.csv')

In [3]:
df.head()

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
0,Niger,5003,570,560,326,571,165,145
1,Mozambique,5048,578,660,191,593,185,200
2,Liberia,5122,636,670,309,405,178,80
3,Malawi,3750,648,279,388,477,140,157
4,Chad,4251,662,506,225,180,182,77

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       145 non-null    object
 1   happiness                     145 non-null    int64
 2   gdp                           145 non-null    int64
 3   social_support                145 non-null    int64
 4   life_expectancy               145 non-null    int64
 5   freedom_to_make_life_choices  145 non-null    int64
 6   generosity                    145 non-null    int64
 7   corruption                    145 non-null    int64
dtypes: int64(7), object(1)
memory usage: 9.2+ KB

In [25]:
df.describe()

,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,5557.910345,1420.172414,905.434483,586.227586,518.841379,146.841379,155.282759
std,1089.342506,406.354839,281.044476,176.946231,145.047917,82.831797,127.811531
min,2404.000000,570.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4888.000000,1100.000000,732.000000,462.000000,442.000000,89.000000,68.000000
50%,5578.000000,1452.000000,957.000000,623.000000,545.000000,131.000000,123.000000
75%,6309.000000,1793.000000,1116.000000,720.000000,627.000000,197.000000,200.000000
max,7821.000000,2209.000000,1320.000000,942.000000,740.000000,468.000000,587.000000

In [9]:
# Happiest country
df[df['happiness'] == df['happiness'].max()]

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
126,Finland,7821,1892,1258,775,736,109,534

In [10]:
# Least happy country
df[df['happiness'] == df['happiness'].min()]

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
8,Afghanistan,2404,758,0,289,0,89,5

In [27]:
# Most corrupt country
df[df['corruption'] == df['corruption'].min()]

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
99,Croatia,6125,1705,1183,709,535,109,0

In [14]:
# Mean happiness (center tendency) This indicate that the most corrupt country is happy because the happiness value is above mean happiness value (Crotia)
df['happiness'].mean()

np.float64(5557.910344827586)